.input {
  position: relative;
  display: inline-block;

  input {
    padding-left: 20px;
  }

  &::after {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 2px;
    left: 5px;
    transform: translateY(-50%);
  }
}
.source::after {
  content: "-";
}

.destination::after {
  content: "+";
}
