@import "../scss/constants.scss";

.card {
  background-color: $white;
  color: $black;
  border-radius: $border-radius;
  padding: $space-l;
  margin-top: $space-m;
  margin-bottom: $space-m;
  box-shadow: $elevation-1;
}
