$success: #a8e36c;
$error: #ff7a7a;

$black: #1a1c1f;
$grey: #8b959e;
$white: #fff;
$neutral: #ddd;
$ligth-neutral: #f4f4f4;
$primary: #0075eb;

$elevation-1: 0 4px 8px 0 rgba(16, 23, 40, 0.04);

$border-radius: 8px;
$border-radius-m: 16px;

$space-s: 5px;
$space-m: 10px;
$space-l: 20px;
$space-xl: 40px;
$space-xxl: 80px;
