@import "./constants.scss";

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints-screen, $width) {
    $width: map_get($breakpoints-screen, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin header() {
  color: $primary;
  margin: 0 0 $space-l 0;
  font-weight: 500;
}

@mixin card-layout() {
  max-width: 400px;
  margin: $space-xxl auto;
  background-color: $ligth-neutral;
  @include mq(mobile, max) {
    margin: 0 auto;
  }
}

@mixin set-breakpoint-fontsize($name) {
  font-size: map_get($name, "mobile");
  @include mq(tablet) {
    @include mq(desktop, max) {
      font-size: map_get($name, "tablet");
    }
  }
  @include mq(desktop) {
    font-size: map_get($name, "desktop");
  }
}
