@import "../../common/scss/constants.scss";

.root {
  .card {
    max-width: 400px;
    margin: $space-xxl auto;
    background-color: $ligth-neutral;
  }
  .header {
    color: $primary;
    margin: 0 $space-m $space-l $space-m;
    font-weight: 500;
  }
}
